@import url("variables.css");
@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background: linear-gradient(to bottom, var(--p600), var(--p300));
}

#root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background: linear-gradient(to bottom, var(--p600), var(--p300));
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus {
  color: var(--p100);
  -webkit-text-fill-color: var(--p100);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

.inputField {
  color: var(--p100);
  caret-color: var(--p100);
}

/* stylelint-disable at-rule-no-unknown */
@custom-variant dark (&:where(.dark, .dark *));
/* stylelint-enable at-rule-no-unknown */
