:root {
  --primary: #0d4ae2;
  --dark-primary: #0935a0;
  --p600: #001955;
  --p500: #0935a0;
  --p400: #4956c8;
  --p300: #767af2;
  --p200: #a1a0ff;
  --p100: #ccc7ff;
  --success: #22c55e;
  --error: #ef4444;
  --neutral: #d3d3d3;
}
