:root {
  --primary: #0d4ae2;
  --dark-primary: #0935a0;
  --p600: #001955;
  --p500: #0935a0;
  --p400: #4956c8;
  --p300: #767af2;
  --p200: #a1a0ff;
  --p100: #ccc7ff;
  --success: #22c55e;
  --error: #ef4444;
  --neutral: #d3d3d3;
  --neutral-bg: #070707;
  --neutral-primary-text: #e0e0e0;
  --neutral-secondary-text: #b0b0b0;
  --neutral-tertiary-text: #707070;
  --neutral-border: #333333;
  --neutral-accent: #888888;
}
